hr {
  margin: 3em 0;
}

table p {
  margin: 0;
}

table {
  margin: 1em 0 4em;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #bbb;
  padding: 1em;
  text-align: left;
  vertical-align: top;
}

th {
  background: #eee;
}

.container {
  margin-left: 0;
}

.width5 {
  width: 5%;
}

.width40 {
  width: 40%;
}

.disabled {
  background: #eee;
}

.padding-left {
  padding-left: 3em;
}

.textarea span {
  display: block;
  margin: 0 0 .3em;
}

.textarea__control {
  display: block;
  width: 100%;
  height: 5em;
  padding: .5em;
  font-size: 1em;
}

.textarea__control,
.input__control {
  border: 1px solid #666;
  border-radius: 0;
  color: #000;
  background-color: #ffd;
}

.check {
  position: relative;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
}

.check__label {
  position: absolute;
  left: -4px;
  top: -4px;
  width: 22px;
  height: 22px;
  text-indent: -10000px;
  background-image: url(../img/check_01.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.check__control:checked + .check__label {
  background-image: url(../img/check_02.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.check__control:focus + .check__label {
  outline-width: 5px;
  outline-style: solid;
  outline-color: Highlight;
}

@media (-webkit-min-device-pixel-ratio:0) {
  .check__control:focus + .check__label {
    outline-color: -webkit-focus-ring-color;
    outline-style: auto;
  }
}

.level {
  display: inline-block;
  padding: .2em .6em;
  border-radius: .3em;
  background: #000;
  color: #fff;
}
